* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
color: #ffffff;
background-color: #00ffff;
text-align: center;
font-size: 5rem;
}
.leftSide {
    background-color: #d3d3d3;
    margin-right: 85%;
    float: left;
    display: inline-block;
}
form {
    padding: 1rem;
}
#history {
    padding: 1rem;
}
.rightSide {
    float: left;
}